<div class="container">
    <h2 style="text-decoration: underline;">Science Questions</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col" style="margin-left: 10px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each scienceQuizzes}}
            <tr>
                <td>{{questionNo}}</td>
                <td style="width: 850px;">{{question}}</td>
                <td id="actionBtns">
                    <form action="/quizzes/{{id}}" method="get">
                        <button type="submit" class="btn btn-outline-success">View</button>
                    </form>
                    <form action="/quizzes/{{id}}/edit" method="get">
                        <button type="submit" class="btn btn-outline-warning">Edit</button>
                    </form>
                    <form
                        action="/quizzes/{{id}}?_method=DELETE"
                        method="POST"
                        class="delete-form">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h2 style="text-decoration: underline;">Sports Questions</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
           {{#each sportsQuizzes}}
            <tr>
                <td>{{questionNo}}</td>
                <td style="width: 850px;">{{question}}</td>
                <td id="actionBtns">
                    <form action="/quizzes/{{id}}" method="get">
                        <button type="submit" class="btn btn-outline-success">View</button>
                    </form>
                    <form action="/quizzes/{{id}}/edit" method="get">
                        <button type="submit" class="btn btn-outline-warning">Edit</button>
                    </form>
                    <form
                        action="/quizzes/{{id}}?_method=DELETE"
                        method="POST"
                        class="delete-form">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h2 style="text-decoration: underline;">History Questions</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each historyQuizzes}}
            <tr>
                <td>{{questionNo}}</td>
                <td style="width: 850px;">{{question}}</td>
                <td id="actionBtns">
                    <form action="/quizzes/{{id}}" method="get">
                        <button type="submit" class="btn btn-outline-success">View</button>
                    </form>
                    <form action="/quizzes/{{id}}/edit" method="get">
                        <button type="submit" class="btn btn-outline-warning">Edit</button>
                    </form>
                    <form
                        action="/quizzes/{{id}}?_method=DELETE"
                        method="POST"
                        class="delete-form">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h2 style="text-decoration: underline;">Television Questions</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each televisionQuizzes}}
            <tr>
                <td>{{questionNo}}</td>
                <td style="width: 850px;">{{question}}</td>
                <td id="actionBtns">
                    <form action="/quizzes/{{id}}" method="get">
                        <button type="submit" class="btn btn-outline-success">View</button>
                    </form>
                    <form action="/quizzes/{{id}}/edit" method="get">
                        <button type="submit" class="btn btn-outline-warning">Edit</button>
                    </form>
                    <form
                        action="/quizzes/{{id}}?_method=DELETE"
                        method="POST"
                        class="delete-form">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a href="/quizzes/new" class="btn btn-primary">Add Question</a>
    <br>
    <br>
</div>
