<%- include('../partials/header') %>

<div class="container">
    <h2 style="text-decoration: underline;">Science Questions</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col" style="margin-left: 10px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% quizzes.sort((a, b) => a.questionNo - b.questionNo) %>
            <% quizzes.forEach(function(q) { %>
            <% if (q.category === "Science") { %>
            <tr>
                <td><%= q.questionNo %></td>
                <td style="width: 850px;"><%= q.question %></td>
                <td id="actionBtns">
                    <form action="/quizzes/<%= q.id %>" method="get">
                        <button type="submit" class="btn btn-outline-success">View</button>
                    </form>
                    <form action="/quizzes/<%= q.id %>/edit" method="get">
                        <button type="submit" class="btn btn-outline-warning">Edit</button>
                    </form>
                    <form
                        action="/quizzes/<%= q.id %>?_method=DELETE"
                        method="POST"
                        class="delete-form">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
            <% } %>
            <% }) %>
        </tbody>
    </table>

    <h2 style="text-decoration: underline;">Sports Questions</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% quizzes.sort((a, b) => a.questionNo - b.questionNo) %>
            <% quizzes.forEach(function(q) { %>
            <% if (q.category === "Sports") { %>
            <tr>
                <td><%= q.questionNo %></td>
                <td style="width: 850px;"><%= q.question %></td>
                <td id="actionBtns">
                    <form action="/quizzes/<%= q.id %>" method="get">
                        <button type="submit" class="btn btn-outline-success">View</button>
                    </form>
                    <form action="/quizzes/<%= q.id %>/edit" method="get">
                        <button type="submit" class="btn btn-outline-warning">Edit</button>
                    </form>
                    <form
                        action="/quizzes/<%= q.id %>?_method=DELETE"
                        method="POST"
                        class="delete-form">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
            <% } %>
            <% }) %>
        </tbody>
    </table>

    <h2 style="text-decoration: underline;">History Questions</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% quizzes.sort((a, b) => a.questionNo - b.questionNo) %>
            <% quizzes.forEach(function(q) { %>
            <% if (q.category === "History") { %>
            <tr>
                <td><%= q.questionNo %></td>
                <td style="width: 850px;"><%= q.question %></td>
                <td id="actionBtns">
                    <form action="/quizzes/<%= q.id %>" method="get">
                        <button type="submit" class="btn btn-outline-success">View</button>
                    </form>
                    <form action="/quizzes/<%= q.id %>/edit" method="get">
                        <button type="submit" class="btn btn-outline-warning">Edit</button>
                    </form>
                    <form
                        action="/quizzes/<%= q.id %>?_method=DELETE"
                        method="POST"
                        class="delete-form">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
            <% } %>
            <% }) %>
        </tbody>
    </table>

    <h2 style="text-decoration: underline;">Television Questions</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% quizzes.sort((a, b) => a.questionNo - b.questionNo) %>
            <% quizzes.forEach(function(q) { %>
            <% if (q.category === "Television") { %>
            <tr>
                <td><%= q.questionNo %></td>
                <td style="width: 850px;"><%= q.question %></td>
                <td id="actionBtns">
                    <form action="/quizzes/<%= q.id %>" method="get">
                        <button type="submit" class="btn btn-outline-success">View</button>
                    </form>
                    <form action="/quizzes/<%= q.id %>/edit" method="get">
                        <button type="submit" class="btn btn-outline-warning">Edit</button>
                    </form>
                    <form
                        action="/quizzes/<%= q.id %>?_method=DELETE"
                        method="POST"
                        class="delete-form">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
            <% } %>
            <% }) %>
        </tbody>
    </table>
    <a href="/quizzes/new" class="btn btn-primary">Add Question</a>
    <br>
    <br>
</div>

<%- include('../partials/footer') %>